<mat-card class="kharona-text">
    <div>
        <em>"It is said that if you want anything - creds, weapons, skin - The Kharona system on the Human Edge is where to find
            it."
        </em>
    </div>
    <div>- Edgar "Smash" Calhoun</div>
    <div>&nbsp;</div>
    <div>On the Human Edge, it's easy to get lost. A collection of corporate holdings, space stations, and barely populated space
        rock make up what is the fringe of human existence. It is here that PMCs, Gangs, and Corporate Security ply their
        trade and attempt to get a foot up on their enemies.&nbsp;</div>
    <div>&nbsp;</div>
    <div>One conglomerate, the now defunct Lhet-Host Synthetics, was trying to do the impossible. In an attempt to create a sub-standard
        Lhost using a off-brand SILK derived from a stolen shipment by the Ikari Corporation. Lhet-Host Synthetics (LHS)
        began their operation by installing rogue software created by nomad scientists in Praxis Labs, in an attempt to offer
        adequate bodies to the skin trade on Kharona. What they didn't count on was Echo-X17.&nbsp;</div>
    <div>&nbsp;</div>
    <div>Echo-X17 was the 17th iteration of Lhet-Brand Pleasure Model, and different from the rest of her kind. Unlike the other
        Echo models, X17 used a corrupted model of the software created at Praxis. She rebelled, and in a spectacular act
        of violence, she not only mercilessly slaughtered the entire brothel where she was assigned, but then waged a one-woman
        assault on Lhet-Host Synthetics headquarters.&nbsp;</div>
    <div>&nbsp;</div>
    <div>She was destroyed in the assault, but not before she ended the lives of over one hundred members of LHS' security detail,
        and half of the board of directors. By the time word got out that LHS was in possession of illegally synthesized
        SILK derivatives, the rest of the directors mysteriously went missing, and LHS was forced to shut down.&nbsp;</div>
    <div>&nbsp;</div>
    <div>Though Echo-X17 was destroyed, it was quickly discovered that her cube had been removed. It has been missing ever since.&nbsp;</div>
    <div>&nbsp;</div>
    <div>That was six months ago. Praxis Labs, as well a great deal of various hypercorps in the sphere will pay handsomely for
        its contents. There have been whispers in the various corners of the system that a woman who calls herself Echo has
        been seen, and she bears a striking resemblance to X17, the rogue Lhost. Finding her could be the key to finding
        out why Praxis is so desperate to get their software back, and why X17 was able to wreak so much havoc upon the unsavoury
        populace of the Kharona system.&nbsp;</div>
    <div>&nbsp;</div>
    <div>PMCs from all corners of the sphere have been hired to locate this mysterious woman, and more importantly, contain her
        at all costs.&nbsp;</div>
    <div>&nbsp;</div>
    <div>This is the Kharona Cyher.&nbsp; &nbsp;&nbsp;
    </div>
</mat-card>