<h1 class="page-header">Rules</h1>

<mat-card class="transparent">
    Welcome to the Kharona Cypher! Here are the basic gameplay rules.
    <br>
    <br> Each game is a standard TACOS game. You will need a deck of TACOS cards, and follow the rules of a TACOS scenario.
    <br>
    <br>After you have chosen your opponent, but before you decide which
    <strong>SPECIAL OPERATIVE</strong> you would like to bring, you can check out your SECRET OBJECTIVE on the site. Once you've
    seen your SECRET OBJECTIVE, you can pick which SPECIAL OPERATIVE you would like to bring with you on this mission.
    <br>
    <br>If you complete your SECRET OBJECTIVE, you gain as many Intelligence Points (INTEL) as indicated for the mission.
    <br>
    <br>If your SPECIAL OPERATIVE is disabled (in a null state) at the end of the game, but you have won the game, nothing happens.
    If your SPECIAL OPERATIVE is disabled (in a null state) at the end of the game, and you have lost the game, your opponent
    gains possession of that SPECIAL OPERATIVE. If the game is a draw, neither SPECIAL OPERATIVES are taken.
    <br>
    <br>If an opponent gains possession of your SPECIAL OPERATIVE, they can ransom them back to you for any amount of Intelligence
    Points (INTEL) that they wish (though the recommended amount is 2 INTEL). Additionally, there are no rules that apply
    to this - a SPECIAL OPERATIVE can be ransomed to ANY player. Also, any amount of Intel can be accepted, or deals can
    be made to get a SPECIAL OPERATIVE back for free.
    <br>
    <br>If a player no longer has any SPECIAL OPERATIVES they can play, they must either purchase back a SPECIAL OPERATIVE, declare
    Bankruptcy (see below), or attempt to rescue a captured SPECIAL OPERATIVE in a special mission (see below).
    <br>
    <br>Declaring Bankruptcy is not something an agency should do unless they are in the most dire of circumstances. When an
    agency declares bankruptcy, they lose ALL of their remaining INTEL. Keep in mind, INTEL is a fluid resource that can
    be spent freely without consequences. You can have allies onto INTEL for you - just keep in mind that your ally may decide
    to keep the INTEL for themselves should you give it to them. Once you have declared Bankruptcy, you get all of your SPECIAL
    OPERATIVES back, and they are able to once again take part in missions.
    <br>
    <br>If you wish to rescue a SPECIAL OPERATIVE, you may do so by challenging someone holding your SPECIAL OPERATIVE to a match.
    This game has the following rules.
    <ul>
        <li>There must be an Objective Room in the exact centre of the game table. It has four LOCKED doors. </li>
        <li>The player's SPECIAL OPERATIVE must be placed in the direct centre of that room. If the player has more than one
            SPECIAL OPERATIVE captured, the player who is placing the models in the room can choose which SPECIAL OPERATIVE
            is in there.</li>
        <li>The defending player may put up to 75 points, and up to 1 SWC in that room. These are guards that are defending the
            SPECIAL OPERATIVE.</li>
        <li>These missions do NOT have a SPECIAL OPERATIVE brought to them. They are played without SPECIAL MISSIONS, or SPECIAL
            OPERATIVES.
        </li>
        <li>If the Attacking Player is able to SYNC with their SPECIAL OPERATIVE and advance that model to their deployment zone
            by the end of the third round, the SPECIAL OPERATIVE is considered rescued, and the player regains possession
            of their SPECIAL OPERATIVE.</li>
        <li>There are no additional rules to this sort of match.</li>
    </ul>
    <br><br>
    At the end of the Campaign (October 1st), all INTEL is tallied and each once counts as Objective Points Scored in terms of
    scoring to determine an overall winner. As with all summer campaigns, you are rated on Objective Scored, Painted Models,
    and Sportsmanship. 
    <br><br>After the campaign is completed, there will be a tournament that will be used to determine the overall
    winner.
</mat-card>